:root {

    /* Primary color */
    --green_950: #39a900;
    --green_900: #4bbd17; 
    --green_50: #5dd12e ;

    /* Bordes */
    --border-color: #4bbd17 ;
    --border-width: 0.2rem;
    --border-style: solid; 

    /* Secundary color */
    --secundary-blue-100: #00304d ; 

    /* Basic color */
    --white: #FFF;
    --black: #000; 
    --gray-20: #f6f6f6 ;
    --gray-40: #c5c5c5;
    --gray-950: #101010;
    --gray-900: #262626;
    --gray-800: #3B3B3B;
    --gray-700: #515151;
    --gray-600: #676767;
    --gray-500: #7D7D7D;
    --gray-400: #929292;
    --gray-300: #A8A8A8;
    --gray-200: #BEBEBE;
    --gray-100: #D4D4D4;
    --gray-50: #E9E9E9;

    /* Font */
    --main-font: Helvetica, Arial, sans-serif;

}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--main-font);
    height: 110vh;
    background-image: linear-gradient(to bottom, var(--white), var(--gray-20) ,var(--gray-40));
    margin: 0;
    background-attachment: fixed;
}

@media (max-width: 480px) {
    body {
        font-size: 1.8vh;
    }
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
    border-bottom: 0.4rem solid var(--green_900);
}
.hero img {
    width: 10rem;
    height: 10rem;
}
.hero h1 {
    color: var(--primary_blue_100);
}

/* User */
.user {
    display: flex;
    gap: 2.4rem;
}
.user img {
    width: 8rem;
    height: 8rem;
    border-radius: 6rem;
}
.user h3 {
    margin-left: 1.3rem;
    margin-top: 0.4rem;
}
.user h2 {
    margin-top:3rem;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 10rem;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    height: auto;
    padding-bottom: 4rem;
    width: 60%;
    border-radius: 2rem;
    box-shadow: 0px 3px 15px 0px var(--border-color);
}

.main-container {
    width: 100%;
}

h2 {
    margin-top: 3.2rem;
    text-align: center;
}

.container {
    text-align: center;
}

.texto {
    font-weight: normal;
}

.container-id {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}


.container-bottom {
    display: grid;
    justify-content: center;
    margin-top: 0.8rem;
}

.bottom1, .bottom2, .bottom3 {
    width: 32rem;
    height: 4rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--green_900);
    color: var(--white);
    font-weight: bold;
}
.bottom3 {
    margin-top: 4rem;
    margin-bottom: 4rem;
    border-bottom: 0.5rem solid var(--white);
}
.bottom1:hover {
    box-shadow: 0 0.3rem 1rem var(--secundary-blue-100);
}
.bottom2:hover {
    box-shadow: 0 0.3rem 1rem var(--secundary-blue-100);
}
.bottom3:hover {
    box-shadow: 0 0.3rem 1rem var(--secundary-blue-100);
}
@media (max-width: 480px) {
    .bottom1, .bottom2, .bottom3 {
        width: 20vh;
    }
}

@media (max-width: 720px) {
    .bottom1, .bottom2, .bottom3 {
        width: 28vh;
    }
    
}

.id {
    width: 32rem;
    height: 5.6rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--gray-20);
    box-shadow: 0rem 0.5rem 0.8rem var(--gray-40);
    margin-bottom: 2rem;
}

@media (max-width: 480px) {
    .id {
        width: 25vh;
    }
    
}

@media (max-width: 720px) {
    .id {
        width: 33vh;
    }
}

.imagen {
    width: 7rem;
    height: 7rem;
    margin: 1.6rem;
}

.container-icono{
    display: flex;
    width: 17.6rem;
}

@media (max-width: 480px) {
    .container-icono {
        width: 4vh;
    }
    .imagen {
        width: 6vh;
        height: 6vh;
    }
    .super-admin {
        margin-top: -1vh;
        margin-left: -1vh;
    }
}

.icono {
    width: 8.8rem;
    height: 12.8rem;
}

.menu {
    font-weight: bold;
    margin-top: -1.6rem;
    text-align: center;
    font-size: 1.28rem;
}

.super-admin {
    width: 7rem;
    height: 10.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sadmin {
    font-weight: bold;
    font-size: 1.28rem;
}

.pie-pagina {
    display: flex;
    justify-content: right;
    margin-top: 40rem;
}