/* Variables */
:root {
    /* Primary color */ 
    --primary-green-900: #4BBD17;
    --primary-blue-100: #00304D;

    /* Secondary color */
    --secondary-green-200: #C9E8B9;
    --secondary-green-950: #39A900;

    /* Basic color */
    --white: #ffffff;
    --black: #000000;
    --gray-40: #c5c5c5;
    --gray-20: #f6f6f6;
}

/* Estilo global */
* {
    text-decoration: none;
}

a {
    color: var(--black);
}

/* Hack rem */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Estilos del body */
.page {
    font-size: 1.6rem;
    font-family: "Work Sans", "Roboto";
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(var(--white), var(--gray-20), var(--gray-40)) no-repeat;
    background-attachment: fixed;
}

/* Headings */
h1 {font-size: 3.2rem;} 
h2 {font-size: 2.4rem;} 
h3 {font-size: 2.0rem;} 
h4 {font-size: 1.6rem;}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
    border-bottom: 0.4rem solid var(--primary-green-900);
}

.header__logo {
    width: 10rem;
    height: 10rem;
}

.header__title {
    color: var(--primary-blue-100);
}

/* User Panel */
.user-panel {
    display: flex;
    gap: 2.4rem;
}

.user-panel__image {
    width: 8rem;
    height: 8rem;
    border-radius: 6rem;
}

.user-panel__menu-link h3 {
    margin-left: 1.3rem;
    margin-top: 0.4rem;
}

.user-panel__role {
    margin-top: 3rem;
}

/* Main */
.main {
    display: flex;
    justify-content: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 6rem;
    background-color: var(--white);
    width: 70vw;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0px 3px 15px 0px var(--primary-green-900);
    align-items: center;
}

.form-container__title {
    margin-bottom: 4rem;
}

.form {
    display: flex;
    gap: 2.4rem;
}

.form__fields-primary {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 2.4rem;
}

.form__field-group {
    text-align: start;
}

.form__field-group--description .form__input {
    height: 15rem;
}

.form__field-group--large .form__input {
    height: 20rem;
    margin-bottom: 30rem;
}

.form__label {
    margin-top: 1rem;
}

.form__input {
    width: 32rem;
    height: 5.6rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--gray-20);
    box-shadow: 0rem 0.5rem 0.8rem var(--gray-40);
    margin-bottom: 4rem;
}

.form__input--medium {
    height: 15rem;
}

.form__input--large {
    height: 20rem;
    margin-bottom: 30rem;
}

/* Buttons */
.button {
    width: 32rem;
    height: 4rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--primary-green-900);
    color: var(--white);
    font-weight: bold;
    margin-top: 2.4rem;
}

.button--primary{
    margin-top: 10rem;
}

.button--return {
    border-bottom: 0.5rem solid var(--white);
}

.button:hover {
    box-shadow: 0 0.3rem 1rem var(--primary-blue-100);
}

.navigation {
    display: flex;
    justify-content: end;
    margin-bottom: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
}

/* Media Queries */
@media (max-width: 1200px) {
    .form {
        display: block;
    }
    
    .form__field-group--large .form__input {
        margin-bottom: 4rem;
    }
    
    .form__submit-link .button--primary {
        margin-left: 45rem;
    }
}

@media (max-width: 768px) {
    .form__fields-primary {
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        gap: 1.4rem;
    }
    
    .form__submit-link .button--primary {
        margin-left: 0;
        margin-right: 0;
    }
    
    .navigation {
        justify-content: center;
    }
    
    .form-container {
        padding: 3rem;
        height: 200vh;
    }

    .button--primary{
        margin-top: 5rem;
    }
    
    .form__input {
        width: 100%;
        max-width: 32rem;
    }
}

@media (max-width: 480px) {
    .form__fields-primary {
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        gap: 1.4rem;
    }
    
    .form__submit-link .button--primary {
        margin-left: 0;
        margin-right: 0;
    }
    
    .navigation {
        justify-content: center;
    }
    
    .form-container {
        padding: 3rem;
        height: 200vh;
    }

    .button--primary{
        margin-top: 5rem;
    }
    
    .form__input {
        width: 100%;
        max-width: 32rem;
    }
}